<template>
    <div class="container add-team">
        <h2 class="center-align blue-text">Add new team</h2>
        <form @submit.prevent="addTeam">
            <div class="field title">
                <label for="title">Team title:</label>
                <input type="text" name="title" v-model="team.title">
            </div>
            <div v-for="(member, index) in team.members" :key="index" class="field">
                <label for="member">Members:</label>
                <input type="text" name="member" disabled v-model="team.members[index]">
                <i class="material-icons delete" @click="deleteMember(member)">delete</i>
            </div>
            <div class="field add-member">
                <label for="add-member">Add a member:</label>
                <select name="add-member" @keydown.tab.prevent="addMember" v-model="team.another">
                    <option value="Manager">Manager</option>
                    <option value="Developer">Developer</option>
                    <option value="QA tester">QA tester</option>
                </select>
            </div>
            <div class="field center-align">
                <p v-if="team.feedback" class="red-text">{{ team.feedback }}</p>
                <button @click="addTeam(team), this.$router.push('/')" class="btn pink">Add team</button>
                
            </div>
        </form>
    </div>
</template>

<script>
import { bus } from '../main';

export default {
    name: 'AddTeam',
    data(){
        return {
            team: {
                title: null,
                another: null,
                members: [],
                feedback: null
            }
        }
    },
    methods: {
        addTeam(){
            if (this.team) {
                this.feedback = null
                bus.$emit('addNewTeam', this.team)
            } else {
                this.feedback = 'You must enter a team name'
            }
        },
        addMember(){
            if (this.team.another){
                this.team.members.push(this.team.another)
                this.team.another = null
                this.team.feedback = null
            }
                else {
                    this.team.feedback = 'You must enter a value to add a member'
                }
            
        },
        deleteMember(mem){
            this.team.members = this.team.members.filter(member => {
                return member != mem
            })
        }
    }
}
</script>

<style>
.add-team {
     margin-top: 60px;
     padding: 20px;
     max-width: 500px;
}

.add-team h2 {
    font-size: 2em;
    margin: 20px auto;
}

.add-team .field {
    margin: 20px auto;
    position: relative;
}

.add-team .delete {
    position: absolute;
    right: 0;
    bottom: 16px;
    color: #aaa;
    font-size: 1.4em;
    cursor: pointer;
}

select {
    display: unset;
}

</style>

