<template>
    <div class="edit-team container">
        <h2>Edit a team {{ this.$route.params.team_slug }} </h2>
    </div>
</template>

<script>
export default {
    name: 'EditTeam',
    data(){
        return {

        }
    }
}
</script>

<style>

</style>
