<template>
  <div class="index container">
    <div class="card" v-for="team in teams" :key="team.id">
      <div class="card-content">
        <i class="material-icons delete" @click="deleteTeam(team.id)">delete</i>
        <h2 class="blue-text">
          {{ team.title }}
        </h2>
        <ul class="members">
          <li v-for="(member, index) in team.members" :key="index">
            <span class="chip">{{ member }}</span>
          </li>
        </ul>
        <div class="total">
          <span class="blue-text">Total cost: {{  team.totalCost }}</span>
        </div>
      </div>
      <span class="btn-floating btn-large halfway-fab pink">
        <router-link :to="{name: 'EditTeam', params: {team_slug: team.slug} }">
          <i class="material-icons edit">edit</i>
        </router-link>
      </span>
    </div>
  </div>
</template>

<script>
import { bus } from '../main';

export default {
  name: 'Index',
  data () {
    return {
      teams: [
        { title: 'Team A', slug: 'team-a', members: [ 'Manager', 'Developer', 'QA tester'], totalCost: 500, id: 1 },
        { title: 'Team B', slug: 'team-b', members: [ 'Manager', 'Developer' ], totalCost: 200, id: 2 },
        { title: 'Team C', slug: 'team-c', members: [ 'Manager', 'Developer', 'QA tester'], totalCost: 300, id: 3 }
      ]
    }
  },
  methods: {
    deleteTeam(id){
      this.teams = this.teams.filter(team => {
        return team.id != id
      })
    },
    totCost(membCost){
      var total = 0
      for (let i=0; i < this.membCost.length; i++) {
        total = total + this.membCost[i].cost
      }
      return total
      console.log(total)
    }
  },
  created(){
    bus.$on('addNewTeam', (data) => {
      return this.teams.push(data)
    })
  }
}
</script>

<style>
.index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 60px;
}

.index h2 {
  font-size: 1.8em;
  text-align: center;
  margin-top: 0px;
}

.index .members {
  margin: 30px auto;
}

.index .members li {
  display: inline-block;
}

.index .delete {
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
  color: #aaa;
  font-size: 1.4em;
}
</style>
